@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Reset CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lobster", sans-serif;
  color: rgb(244, 49, 127);
  padding: 10px;
}

header {
  background-color:rgb(246, 174, 200);
  border-radius: 6px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center; /*vertical*/
  align-items: center; /*horizontal*/
}

#principal {
  border-radius: 6px;
 height: 800px;
margin: 10px 0;
display: flex;
flex-direction: row;
justify-content: space-between;
}
main {
  background-color: rgb(238, 182, 255);
  border-radius: 6px;
  height: 100%;
  width: 74%;
}

aside {
  background-color: rgb(187, 229, 254);
  border-radius: 6px;
  height: 100%;
  width: 25%;
}

footer {
  background-color: rgb(183, 251, 208);
  border-radius: 6px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color:rgb(62, 148, 63);
  font-size: 1.2rem;
}

footer a {
  color:rgb(62, 148, 63);
  text-decoration: none;
  font-weight: 500;
}